In [1]:
import pandas as pd
import numpy as np

In [2]:
emp = pd.read_csv('/Users/kalindjoshi/Desktop/ass3/empclean.csv')
emp1 = pd.read_csv('/Users/kalindjoshi/Desktop/ass3/empclean1.csv')

#reading 2 files

In [3]:

finalemp = pd.concat([emp , emp1], sort=True, axis=0)

#concat the two csv files

In [5]:
finalemp = finalemp[['empid',	'empfirstname',	'emplastname',	'empemail',	'empnumber',	'empjoining',	'empsatisfaction']]

#giving names to dataframe

In [6]:
finalemp.fillna(method="ffill", inplace = True)

/var/folders/s1/q_mld00s2k9_7gdgg1msrp200000gn/T/ipykernel_20073/1692716294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalemp.fillna(method="ffill", inplace = True)

In [7]:
finalemp.head()

,empid,empfirstname,emplastname,empemail,empnumber,empjoining,empsatisfaction
0,198.0,donald,oconnell,doconnel,650.507.9833,21-jun-07,3
1,199.0,douglas,grant,dgrant,650.507.9844,13-jan-08,3
2,200.0,jennifer,whalen,jwhalen,515.123.4444,17-sep-03,4
3,201.0,michael,hartstein,mhartste,515.123.5555,17-feb-04,4
4,202.0,pat,fay,pfay,603.123.6666,17-aug-05,2

In [8]:
finalemp.isna().count()

empid              361
empfirstname       361
emplastname        361
empemail           361
empnumber          361
empjoining         361
empsatisfaction    361
dtype: int64

In [9]:
finalemp.to_csv('/Users/kalindjoshi/Desktop/ass3/finalemp.csv', index = False)

#creating new file finalemp.csv to import